<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MicroEmpresarias Alajuelenses</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" >Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/contact']"  routerLinkActive="active" >Contactenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bisuteria']"  routerLinkActive="active" >Bisuteria</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <div class="position-relative container">

    <div class="row justify-content-center">
      <div class="card mt-sm-3 col-md-8">
        <div class="card-body">
          <h3 class="mb-0">Bisuteria Directory</h3>
          <div class="form-group">
            <div class="form-label"><strong>Producto:</strong>
              {{ query }}
              
            </div>
           <!--<input class="form-control mt-2" type="text"
            [(ngModel)] = "query">-->
            <div class="form-label"><strong>Precio:</strong>
              {{ precio }}
              
            </div>
            <!--<input class="form-control mt-2" type="text"
            [(ngModel)] = "precio">-->
            <button id="boton-seleccionar" class="btn btn-danger">Seleccionar </button>
          
          </div><!-- form-group -->
          
        </div><!-- card-body -->
      </div><!-- card -->
    </div><!-- row -->
  
    <div class="container">
      <div class="row">
          <!-- Elementos generados a partir del JSON -->
          <main id="items" class="col-sm-8 row"></main>
          <!-- Carrito -->
          
      </div>
  </div>
  
    <div class="position-absolute container" style="left: 0; z-index:10">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="list-group">
            <a  class="list-group-item list-group-item-action flex-column align-items-start"
            *ngFor="let bisuteria of bisuteria"
            (click)="showBisuteria(bisuteria)"
            [style.background]="bisuteria.highlight ? '#eee' : '#fff'">
                <div class="media">
                  <img class="mr-3 rounded align-self-center img-fluid" style="width:70px" 
                    [src]="'./assets/images/' + bisuteria.name + '_td.jpg'"
                    [alt]="'Photo of ' + bisuteria.name"
                  >
                  <div class="media-body align-self-center">
                    <h5 class="m-0">{{ bisuteria.name }}</h5>
                    {{ bisuteria.description }}
                  </div><!-- media body -->
                  <div class="media-body align-self-center">
                    <h5 class="m-0">{{ bisuteria.name }}</h5>
                    {{ bisuteria.price }}
                  </div><!-- media body -->

                  
                </div><!-- media -->
            </a><!-- link -->
          </div><!-- list-group -->
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </div>

  <aside class="col-sm-4">
    <h2>Carrito</h2>
    <!-- Elementos del carrito -->
    <ul id="carrito" class="list-group"></ul>
    
    <hr>
    <!-- Precio total -->
    <input type="text" id="nombre" placeholder="Articulo">
    <input type="text" id="precio" placeholder="Precio">
    <p class="text-right">Total: <span id="total"></span>&euro;</p>
    <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
    <button id="boton-comprar" class="btn btn-danger">Comprar</button>
</aside>
  <footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  

  <router-outlet></router-outlet>
  
  
  
